@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  border: none;
}


a {
  color: black;
  font-size: 25px;
  color: white;
}

a:hover {
  color: black;
}

body {
  background-image: url("../public/hogwarts.jpg");
  background-position: center;
  background-size: cover;
}


main {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(112, 112, 112, 0.8);
}

input {
  padding: 5px;
  font-size: large;
  margin: 10px 0;
}

label {
  font-size: large;
  margin: 10px 0;
  font-weight: bold;
}

button {
  padding: 5px 0;
  width: 50%;
  display: block;
  margin: 10px auto;
  cursor: pointer;
  background-color: rgb(250, 235, 215);
  border: solid 1px black;
  font-size: large;
  text-shadow: 1px 1px 1px white;
}

button:hover {
  background-color: rgb(252, 223, 185);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 50px;
  padding: 10px 0;
  text-shadow: 1px 1px 1px white;
}

#app {
  display: flex;
  width: 100%;
  text-align: center;
}

#wrapper{
  width: 80%;
  margin: 0 auto;
  background-color: rgba(250, 235, 215, 0.7);
  padding: 20px;
}